@model ModelValidation.Models.Customer

@{
    ViewBag.Title = "Register Complete";
}

<h4>New customer registered</h4>
<p>The customer name is: <b>@Html.DisplayFor(m => m.Name)</b></p>
<p>The customer birthday is: <b>@Html.DisplayFor(m => m.Birthday)</b></p>